<html>
    <head>
        <title>Submit Jobs</title>
    </head>
    <body>
        <p> Hello, {{ userid }}! </p>
        <!-- get textfile and image link from user -->
        <p> Please upload a textfile containing the jobs you want to submit. </p>
        <p> The textfile should contain one job per line. </p>

        <form method="post" action="/submit_jobs" enctype="multipart/form-data">
            <label for="textfile">Textfile</label>
            <input type="file" name="textfile" id="textfile"/>
            <br/>
            <input type="text" name="image_link" id="image_link" placeholder="Image Link"/>

            <input type="submit" name="submit" id="submit" value="Submit"/>
        </form>
        {{ message }}

		<h3> Delete Jobs </h3>
		<form method="post" action="/delete_jobs">
			<label for="job_id">Job ID</label>
			<input type="text" name="job_id" id="job_id"/>
			<input type="submit" name="submit" id="submit" value="Delete"/>
		</form>
		<h1> Submitted Jobs </h1>
        {% if jobs %}
		{% if "error" in jobs %}
			<p> {{ jobs["error"] }} </p>
		{% else %}
		{% for job,data in jobs.items() %}
			<h4> Job: {{ job }} </h4>
			<table>
				<th> cmd </th>
				<th> retval </th>
			{% for item in data %}
			<tr>
				{% for x in item %}
					<td> {{ x }} </td>
				{% endfor %}
			</tr>
			{% endfor %}
			</table>
		{% endfor %}
		{% endif %}
		{% endif %}
    </body>
</html>
